.frow {
    display: flex !important;
    flex-direction: row;
    &.zoom {
        min-width: 100%;
        min-height: 100%;
    }
    &.centered {
        align-items: center;
        justify-content: center;
    }
    &.top-left {
        align-items: flex-start;
        justify-content: flex-start;
    }
    &.top-right {
        align-items: flex-start;
        justify-content: flex-end;
    }
    &.top-mid {
        align-items: flex-start;
        justify-content: center;
    }
    &.mid-left {
        align-items: center;
        justify-content: flex-start;
    }
    &.mid-right {
        align-items: center;
        justify-content: flex-end;
    }
    &.btm-left {
        align-items: flex-end;
        justify-content: flex-start;
    }
    &.btm-right {
        align-items: flex-end;
        justify-content: flex-end;
    }
    &.btm-mid {
        align-items: flex-end;
        justify-content: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.spaced>div {
        margin-left: 5px;
        margin-right: 5px;
    }
    &.spaced-10>div {
        margin-left: 10px;
        margin-right: 10px;
    }
    &>div {
        &.centered {
            align-self: center;
        }
    }
}

.fcol {
    display: flex !important;
    flex-direction: column;
    &.centered {
        align-items: center;
        justify-content: center;
    }
    &.top-left {
        justify-content: flex-start;
        align-items: flex-start;
    }
    &.top-mid {
        justify-content: flex-start;
        align-items: center;
    }
    &.top-right {
        justify-content: flex-start;
        align-items: flex-end;
    }
    &.mid-left {
        justify-content: center;
        align-items: flex-start;
    }
    &.mid-right {
        justify-content: center;
        align-items: flex-end;
    }
    &.btm-left {
        justify-content: flex-end;
        align-items: flex-start;
    }
    &.btm-mid {
        justify-content: flex-end;
        align-items: center;
    }
    &.btm-right {
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.stretched {
    justify-content: space-between !important;
}

.narrow {
    justify-content: space-around !important;
}

.circular {
    border-radius: 50%;
}

.transparent {
    background-color: transparent;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-12 {
    width: 12%;
}

.w-15 {
    width: 15%;
}

.w-18 {
    width: 18%;
}

.w-20 {
    width: 20%;
}

.w-24 {
    width: 24%;
}

.hw-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-32 {
    width: 32%;
}

.w-38 {
    width: 38%;
}

.w-40 {
    width: 40%;
}

.w-48 {
    width: 48%;
}

.hw-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-72 {
    width: 72%;
}

.hw-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

//responsviely stable width
.h-10 {
    height: 10vh;
}

.h-15 {
    height: 15vh;
}

.h-20 {
    height: 20vh;
}

.h-30 {
    height: 30vh;
}

.h-40 {
    height: 40vh;
}

.h-50 {
    height: 50vh;
}

.h-60 {
    height: 60vh;
}

.h-70 {
    height: 70vh;
}

.h-80 {
    height: 80vh;
}

.h-90 {
    height: 90vh;
}

.mx-10 {
    margin-left: 100px;
    margin-right: 100px;
}

.rp-5 {
    padding: 3rem;
}

.rpx-5 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-10 {
    padding-left: 100px;
    padding-right: 100px;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.hidden {
    visibility: hidden;
}

.hoverable {
    cursor: pointer;
    text-decoration: none !important;
}

.hide {
    display: none !important;
}

//rounded input for search
.input-rounded {
    border-style: solid;
    border-width: thin;
    border-color: silver;
    border-radius: 50px;
    width: 200px;
    padding: 0px 25px 0px 15px;
    &:focus {
        outline: 0;
    }
}